:root {
  --greenGradient: linear-gradient(90deg, #659E89 0%, #619B8A 32.12%, #A1C181 100%);
  --orangeGradient: linear-gradient(41.75deg, #FE7F2D 22.78%, #FCCA46 87.18%);
}

*, *:before, *:after {
  font-family: Roboto;
  line-height: 19px;
  font-weight: 400;
  font-size: 1rem;
} 
